[2019-10-22 03:37] del-zhenwu opened #1 "[BUG] update server_config"

[2019-10-22 09:21] #1 closed

[2019-10-24 12:44] ZhifengZhang-CN opened #3 "Add filebeat for Jenkins CI"

[2019-10-28 03:34] ZhifengZhang-CN commented on #3
done

[2019-10-28 03:34] #3 closed

[2019-11-07 09:42] del-zhenwu opened #6 "Update server config on 0.5.3"

[2019-11-08 09:20] ZhifengZhang-CN opened #8 "Using Kubernetes Helm to push ConfigMap changes to your Deployments"

[2019-11-15 07:29] ZhifengZhang-CN commented on #8
Done

[2019-11-15 07:29] #8 closed

[2019-11-15 07:29] ZhifengZhang-CN commented on #6
Done

[2019-11-15 07:29] #6 closed

[2019-11-20 02:51] del-zhenwu opened #9 "[FEATURE] Update server_config"

[2019-12-03 07:32] ZhifengZhang-CN opened #12 "Change milvus deploy path to /var/lib/milvus"

[2019-12-07 02:15] ZhifengZhang-CN commented on #12
Done

[2019-12-07 02:15] #12 closed

[2019-12-18 09:11] del-zhenwu opened #16 "Update extraVolumes to list"

[2019-12-26 03:02] szbjb opened #21 "Failed to pull image "registry.zilliz.com/milvus/engine:branch-0.5.0-release""
[code]

[2020-01-13 11:54] ZhifengZhang-CN commented on #21
Please switch to the master branch

[2020-01-13 11:54] #21 closed

[2020-01-13 11:55] ZhifengZhang-CN commented on #9
Done

[2020-01-13 11:55] #9 closed

[2020-01-13 11:55] ZhifengZhang-CN commented on #16
Done

[2020-01-13 11:55] #16 closed

[2020-01-17 03:29] del-zhenwu opened #25 "add monitor gateway addr in server_config"

[2020-01-17 06:17] del-zhenwu commented on #25
added

[2020-01-17 06:17] #25 closed

[2020-01-19 08:15] ZhifengZhang-CN opened #27 "Add GPU sharing solution on native Kubernetes"

[2020-01-19 08:16] #27 closed

[2020-02-19 10:58] del-zhenwu opened #29 "insert_buffer_size field should be in cache_config"

[2020-02-25 09:05] #29 closed

[2020-02-25 09:06] del-zhenwu opened #31 "Add wal_config into template"

[2020-03-01 02:37] #31 closed

[2020-05-22 16:39] mausch opened #56 "Milvus web admin"
Hi and thanks for this project! Our data scientists have not been this happy in a long time :-)

I think it would be great to include https://hub.docker.com/r/milvusdb/milvus-admin as part of this repo, either as an option to the current chart or as a separate chart. What do you think?

Many thanks

[2020-05-23 03:21] JinHai-CN commented on #56
Milvus-Admin isn't belong to LF AI. But we will consider how to combine them together more tightly.

[2020-05-23 04:00] JinHai-CN commented on #56
@ZhifengZhang-CN Would you please help integrate milvus-admin into milvus-helm?

[2020-05-23 06:05] ZhifengZhang-CN commented on #56
I’ll consider this matter.

[2020-05-27 13:09] ZhifengZhang-CN commented on #56
@mausch Milvus Admin has been integrated into Milvus Helm

[2020-05-28 15:33] mausch commented on #56
Brilliant, that was very fast, thank you!

[2020-05-28 15:33] #56 closed

[2020-06-03 14:00] mausch opened #79 "Upgrades and WAL lock"
When upgrading Milvus from 0.9.0 to 0.9.1, kubernetes first starts a new pod with 0.9.1 before stopping 0.9.0 (as the deployment is currently set to RollingUpdate).
However the 0.9.1 pod gets stuck restarting over and over with the following error:

So the upgrade never takes place until someone manually deletes the 0.9.0 pod

Maybe the deployment should be set to [Recreate](https://kubernetes.io/

[2020-06-03 15:12] JinHai-CN commented on #79
One WAL directory only allows one Milvus instance read and write. You need to stop one then start another one.

[2020-06-03 15:30] mausch commented on #79
Yep, I agree with that. What I'm proposing here is changing the Deployment in this helm chart to avoid things getting stuck because of it.

[2020-06-04 06:27] ZhifengZhang-CN commented on #79
Thank you for your advice.

[2020-06-04 09:16] mausch commented on #79
Works great now, thanks!

[2020-06-04 09:16] #79 closed

[2020-06-25 16:46] rodjjo opened #100 "Is it necessary to set volume access mode with the value ReadWriteMany ?"
I was configuring this chart to run on a cluster kubernetes (kops) at amazon and when I configure the volume with:

[code]

I get the result (No error message):
[code]

if I leave the defaults configuration of the chart i got no problem, but if the pod is recreated i lost the data.

[2020-06-28 04:56] ZhifengZhang-CN commented on #100
@rodjjo According to your configuration, I was unable to recurrent the result.

[2020-07-10 02:45] del-zhenwu opened #103 "Binary version not matched with helm install"
version:
`0.10.1`
cmd:
[code]
result:
[code]

expected:
[code]

[2020-07-14 06:22] foxel opened #105 "Currently packaged charts have recursively packaged chart 'tgz' files inside"
I was installing the chart as a dependency and found that the package has `milvus-0.10.0.tgz` and `milvus-0.9.1.tgz` files inside. And those packages include `milvus-0.10.0.tgz` and `milvus-0.9.1.tgz` recursively.

![Снимок экрана от 2020-07-14 13-17-40](https://user-images.githubusercontent.com/1551926/87391366-c8c03600-c5d4-11ea-9911-d8c1cf0a0677.png)

There is also `ci` folder having some extra

[2020-07-14 06:29] jeffoverflow commented on #105
Is your current git branch gh-page?

[2020-07-14 06:32] jeffoverflow commented on #105
Installing the Milvus chart :  [https://hub.helm.sh/charts/milvus/milvus](https://hub.helm.sh/charts/milvus/milvus)

[2020-07-14 06:37] #103 closed

[2020-07-14 08:40] foxel commented on #105
@jeffoverflow I'm not building from source, I'm installing from chart registry at https://milvus-io.github.io/milvus-helm/

See the console step by step:
[code]

The downloaded archive contains older archives inside

[2020-07-14 08:44] jeffoverflow commented on #105
1. Add the stable repository
[code]

2. Update charts repositories
[code]

3. Install Helm package

To install the chart with the release name `my-release`:

[code]

or

[code]

[2020-07-14 08:53] foxel commented on #105
@jeffoverflow I'm not interested in installing the chart. I'm using it as a dependency. Those who use my chart will be installing the chart transitively.

Anyways whether I install it standalone or not the packages file served at https://milvus-io.github.io/milvus-helm/milvus-0.10.0.tgz  is huge and contains lots of garbage files which I showed above.

It might worth noting that everything install

[2020-07-14 09:35] jeffoverflow commented on #105
@foxel  I see. I will try to solve your problem.

[2020-07-14 11:05] jeffoverflow commented on #105
@foxel I think we've solved that problem. Can you try to reproduce it?

[2020-07-15 03:38] foxel commented on #105
@jeffoverflow thanks!
It's much cleaner. But ci folder is still included...
add `ci` to your `.helmignore`

[2020-07-15 03:42] jeffoverflow commented on #105
@foxel  The `ci` can't be added to `.helmignore` .

[2020-07-24 18:58] markhuds commented on #100
From the readme:

It seems like [Google Cloud Platform does not offer ReadWriteMany access mode for PVC](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes). Is this a blocker for running a milvus cluster on google's kubernetes engine?

[2020-07-25 02:10] jeffoverflow commented on #100
@markhuds You can find a detailed tutorial on how to deploy an nfs-server on your GKE cluster [here](https://medium.com/platformer-blog/nfs-persistent-volumes-with-kubernetes-a-case-study-ce1ed6e2c266). Follow this tutorial and you should be able to share a PVC created with the steps found in the link above with the access mode ReadWriteMany.
Another good tutorial on this subject can be found [her

[2020-09-10 07:44] hamjl opened #113 "shards not enabled when deploy milvus-cluster via helm"
I deploy milvus-cluster via helm, config as follows:
[code]
But seems that query only handled by only one RO instance:
[code]
Only pod milvus-cluster-test-readonly-69d4b8765b-9j9t8   has logs and CPU RAM usage increase when query come.

[2020-09-11 07:06] hamjl commented on #113
It seems that single recall  may not routed to all RO Miluvs-server  , only one RO pod will handle the query, and when recall query are distributed , the other RO pod CPU&RAM will increase.
[code]

[2020-09-12 12:01] jeffoverflow commented on #113
We will add `shards` feature in a later release!

[2020-09-12 12:28] #105 closed

[2020-09-17 16:17] jeffoverflow commented on #113
Hi @hamjl
You can deploy Milvus Helm Chart v0.10.3 and open the `shard`.

[2020-09-29 03:24] #113 closed

[2020-10-15 14:13] sinnergarden opened #123 "specify readonly resources doesn't take effect"
https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/templates/readonly-deployment.yaml#L92

should replace  `.Values.image.resources` with `.Values.readonly.resources`

[2020-10-15 14:47] jeffoverflow commented on #123
We will fix this in a later release!

[2020-11-20 17:51] ADBurpitt opened #129 "Unable to deploy to multiple namespaces"
I'm having issues deploying the chart to multiple namespaces due to the ClusterRole defined in [`mishards-rbac.yaml` ](https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/templates/mishards-rbac.yaml)

Does this role need to be at the cluster level?

Helm output when trying to deploy to namspace `test` when milvus is already to deployed to namespace `dev`:
[code]

[2020-12-04 15:32] #129 closed

[2020-12-11 10:08] JeroenVanOort opened #147 "No longer specify resources by default"
Helm [generally recommends](https://github.com/helm/helm/blob/master/pkg/chartutil/create.go#L161) not to specify resources. I think it would be good to follow this recommendation.

[2020-12-15 02:35] eedmiston opened #150 "Can't deploy Milvus on GPU via Kubernetes"
I've been trying to get Milvus (0.10.2) to run on GPU in a kubernetes installation.  It is running on the correct nodepool, but milvus stays in CrashLoopBack with the `error /var/lib/milvus/bin/milvus_server: error while loading shared libraries: /lib64/libnvidia-ml.so.1: file too short`. Here's the values.yaml I'm using:

[code]
I've tried this with all of the 0.10.x versions with the same outcom

[2020-12-15 17:36] #150 closed

[2020-12-15 17:36] eedmiston commented on #150
Resources section needs to be under the image section.

[2020-12-16 13:29] JeroenVanOort opened #151 "When is 0.11.1 going to be released?"
I know it won't support cluster/mishards, but I hope that's not a dealbreaker for now.

[2020-12-21 02:53] jeffoverflow commented on #151
We are going to release 0.11.1 @JeroenVanOort

[2020-12-23 09:05] JeroenVanOort commented on #147
I believe this had been fixed by the PR.

[2020-12-23 09:05] #147 closed

[2021-01-07 03:03] #123 closed

[2021-01-21 09:26] suvashishtha commented on #151
@jeffoverflow any tentative date for release of 0.11.1 ?

[2021-02-03 10:07] ghiyastfarisi opened #158 "Error: YAML parse error on milvus/templates/writable-deployment.yaml: error converting YAML to JSON"
I found this error when trying to enable milvus cluster with helm.

Below how the installation goes with it config:

[code]

After some trial it turns out that the error comes from `--set mysql.enabled=false` configuration, and I need to disable internal mysql pods, because I already set up external mysql service.

Error message:
[code]

[2021-02-03 10:58] ghiyastfarisi commented on #158
I think I found the problem, after reading the deployment-writeable.yml file.

Found that mishards install tutorial written here https://milvus.io/docs/v0.10.5/mishards.md has some error on config name.

![alt text](https://i.postimg.cc/1R2mkBNB/typo-docs.png)

`--set externalMysql.enable=true` should be `--set externalMysql.enabled=true`

also

`--set mishards.replica=2` and  `--set readonly.repl

[2021-03-19 09:45] kashkarik22i opened #161 "Setting custom labels is not possible"
For our k8s set up we are required to add a custom label
[code]
to all team-owned resources.
Unfortunately the values are hardcoded [here](https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/templates/_helpers.tpl#L77) and [here](https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/templates/_helpers.tpl#L67)
like that:
[code]

and then used e.g. [here](https://github.

[2021-03-19 10:03] kashkarik22i opened #162 "Impossible to use existing mysql secret for the default mysql installation"
My goal is: change default mysql password and remove values from the helm chart because both constitute a potential security issue.

Milvus will use this for authentication to mysql [link](https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/templates/_helpers.tpl#L98):
[code]

I could use existing secret for mysql installation as the [documentation](https://artifacthub.io/packages/h

[2021-03-19 10:14] kashkarik22i opened #163 "No easy way to persist the PV long term"
Problem: after the removal of the chart (e.g. by mistake or because some breaking clean-up was needed) the persistent volume is gone for good. In our case we use Milvus as the primary storage for our vectors, and re-creation of all vectors may take several days keeping the production system unavailable in the meanwhile.

The basic reason is: [PVCs](https://github.com/milvus-io/milvus-helm/blob/mas

[2021-03-22 16:03] kashkarik22i commented on #163
I have just learned that this could be solved by uncommenting these lines: [here](https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/values.yaml#L141):
[code]
I added my own `StorageClass` to make sure PVs are not deleted too, so looks good to me now, so looks good to me at least, could probably be ignored, closing.

[2021-03-22 16:03] #163 closed

[2021-03-24 06:20] jeffoverflow commented on #158
@ghiyastfarisi  Closing this issue.

[2021-03-24 06:20] #158 closed

[2021-03-24 10:18] mangopaq opened #167 "Failed to install app milvus."
`Failed to install app milvus. Error: rendered manifests contain a resource that already exists. Unable to continue with install: Service "milvus" in namespace "milvus" exists and cannot be imported into the current release: invalid ownership metadata; label validation error: missing key "app.kubernetes.io/managed-by": must be set to "Helm"; annotation validation error: missing key "meta.helm.sh/r

[2021-03-25 09:29] shenshouer opened #168 "How to set nodeSelector with helm ?"
when use flag with helm command `  --set nodeSelector={'middlerware: common'} ` got error as follow:
[code]

if changed `  --set nodeSelector={'middlerware: common'} ` to `  --set nodeSelector={'middlerware': 'common'} `  and got error:

[code]

[2021-03-25 12:54] jeffoverflow commented on #168
@shenshouer You can use something like this:
`helm install --set nodeSelector."beta\.kubernetes\.io/os"=linux my-release milvus/milvus`

[2021-03-25 12:58] jeffoverflow commented on #167
First of all you need to make sure you've successfully uninstalled the helm `release`, before reinstalling.

To list all the releases, use:
`$ helm list --all --all-namespaces`

To uninstall a release, use:
`$ helm uninstall <release-name> -n <namespace>`

Sample:
`$ helm uninstall my-release -n milvus`

Now, try installing again.

[2021-03-25 13:03] jeffoverflow commented on #161
We will fix this in a later release!

[2021-03-25 13:26] shenshouer commented on #168
Thank you. worked fine for me now.

[2021-03-25 13:26] #168 closed

[2021-04-21 01:35] becash143 opened #169 "unable to run milvus cluster with gpu image"
Error message : /var/lib/milvus/bin/milvus_server: error while loading shared libraries: /usr/lib/x86_64-linux-gnu/libnvidia-ml.so.1: file too short

Used image tag : "0.10.0-gpu-d061620-5f3c00"

[2021-04-21 05:56] jeffoverflow commented on #169
Good tutorial on this subject can be found [k8s-device-plugin](https://github.com/NVIDIA/k8s-device-plugin) or [gpu-operator](https://nvidia.github.io/gpu-operator/)

[2021-04-21 07:05] #169 closed

[2021-04-21 07:06] becash143 commented on #169
nvidia-container-runtime solved the issue

[2021-05-03 09:54] suvashishtha opened #170 "setting preload_collection config is not supported through helm"
i guess there is no way to set config cache.preload_collection when installing milvus via helm chart.

[2021-05-04 11:50] suvashishtha opened #171 "adding env variable not supported through helm"
is there a way to add env variable for instance specifying OMP_NUM_THREADS when starting milvus

[2021-05-05 17:46] scipe commented on #170
Yeah :(. But for now you can do it from ConfigMaps.

[2021-05-07 08:14] jeffoverflow commented on #171
@suvashishtha You can try using the Milvus v1.1

[2021-05-31 09:39] VRudniev commented on #161
Hi @jeffoverflow,

I've tried to add custom labels via podLabels as described in the documentation, but it only works for writable and readable deployments. I would like to know is there any way to do the same for the *-admin pod as well?

[2021-06-18 06:47] rky0930 opened #181 "In helm-chart 1.1.1, milvus version is 1.1.0"
In tag milvus-1.1.1, milvus version is 1.1.0, when does the version name of helm-chart tag match with the version of milvus?

[2021-06-28 08:45] nmarandi opened #182 "milvus readonly stuck with this values: cluster.enabled=true with persistence.enabled=false"
when I install milvus with this command:
 `
helm install --set cluster.enabled=true --set cache.insertBufferSize=4GB --set cache.cacheSize=6GB --set metrics.enabled=true --set readonly.cache.insertBufferSize=2GB --set readonly.cache.cacheSize=5GB --set replicas=3 milvus  milvus/milvus
`
the milvus-readonly pod stuck in initializing.

[2021-06-28 08:48] jeffoverflow commented on #182
@nmarandi  See: https://github.com/milvus-io/milvus-helm/tree/master/charts/milvus#deploying-milvus-with-cluster-enabled

[2021-06-28 09:01] nmarandi commented on #182
Does it mean that I can't have a Milvus cluster without persistence volume?

[2021-06-29 02:55] jeffoverflow commented on #182
@nmarandi Yes.

[2021-06-29 02:56] jeffoverflow opened #184 "Something went wrong tracking repository milvus"
<h4 style="box-sizing: content-box; font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness:

[2021-07-01 02:31] #184 closed

[2021-07-01 02:34] jeffoverflow commented on #181
@rky0930 The helm chart tag is not associated with the milvus version.

[2021-07-10 02:38] #151 closed

[2021-07-10 02:38] #167 closed

[2021-07-10 02:38] #182 closed

[2021-07-10 02:39] #171 closed

[2021-07-12 14:38] rky0930 commented on #181
@jeffoverflow Thanks for the reply ! So what do tags mean?

[2021-07-13 01:53] jeffoverflow commented on #181
@rky0930 The tags mean the version of chart.

[2021-08-05 03:38] L-lei opened #201 "milvus-standalone fail"
#### Environment:
- milvus-helm version(2.1.0):
- Deployment mode(standalone):
- OS(Ubuntu or CentOS):
- CPU/Memory:
- GPU:
- Others:

#### Additional context:
Milvus standalone doesn't just use one?
error info:
Warning  FailedScheduling  15h   default-scheduler  0/4 nodes are available: 4 pod has unbound immediate PersistentVolumeClaims.

[2021-08-10 01:46] jeffoverflow commented on #201
@L-lei  You need to check if the persistent volume claims is available.

[2021-08-10 06:24] L-lei commented on #201
OK. Thanks very much for talking to me

[2021-08-10 13:08] ggordonhall opened #203 "Helm lint fails"
Hi,

When I run `helm lint` on this chart I get:

[code]
I also see this helm error when I try and install the chart while overriding the autoscaling values:

[code]

Error:
[code]

Thanks!

[2021-08-12 09:08] suvashishtha opened #207 "Support logging to stdout"
https://github.com/milvus-io/milvus/pull/4738/ supports logging to stdout as an option.
[code]

 But the same is not supported by helm chart it seems. Milvus version used is 1.0.0

helm chart version is 1.1.0.

[2021-08-12 09:10] suvashishtha commented on #207
helm chart version is 1.1.0

[2021-08-12 13:10] jeffoverflow commented on #207
Milvus 1.0.0 unsupport  logging to stdout.

[2021-08-12 21:05] suvashishtha commented on #207
It supports. I made it worked by forking the chart and applying changes locally. Should i raise PR? Against which branch ?

[2021-08-13 02:28] jeffoverflow commented on #207
@jeffoverflow Cool ! You can contribute chart changes based on the 1.1 branch.

[2021-08-14 02:50] #207 closed

[2021-08-20 08:44] L-lei commented on #201
The specified Minio of persistent volume needs to be created manually?

Persistent volume claims need to be created by yourself?

Or what kind of machine hardware configuration is required to install Milvus

[2021-08-24 16:03] XiaoConstantine opened #211 "Failed to upgrade from 0.10.5 => 1.1.1 (milvus version)"
I have k8s cluster running with 0.10.5, using AWS-EFS as external storage.
[code]

When I tried to upgrade my cluster to 1.1.1 with(https://artifacthub.io/packages/helm/milvus/milvus/1.1.6):
[code]

Seems only <release-name>-milvus-mishards and <release-name>-milvus-readonly will actually init new pods, and newly created mishards node crashing with:
[code]
 Any idea what I m missing? Thanks!

[2021-08-24 16:13] jeffoverflow commented on #211
/assign @yhmo

[2021-08-25 02:27] yhmo commented on #211
`milvus.client.exceptions.VersionError: Version of python SDK(1.1.1) not match that of server0.10.5, excepted is ('1.1.x',)`

From the call stack, it seems the write node server is still 0.10.5.  At startup, Mishards master node try to connect with write node, but found the pymilvus sdk is v1.1.1, but the write node is 0.10.5.

[2021-08-25 07:03] jeffoverflow commented on #201
/cc @zwd1208

[2021-08-25 07:19] zwd1208 commented on #201
@L-lei  If you want to use existing pvc for minio, you can use --set minio.persistence.existingClaim=<your_pvc>.  this pvc needs to be created before install.
By default, install Milvus and Minio will automatic use default storageClass to create pvc.
No specific hardware configuration is required to install Milvus. Usually depends on your k8s environment

[2021-08-25 07:30] L-lei commented on #201
OK. Thanks very much for talking to me

[2021-08-25 07:31] L-lei commented on #201
OK. Thanks very much for talking to me

[2021-08-25 13:53] XiaoConstantine commented on #211
I think this is just the error on the surface. Like I mentioned in the origin post, I have a fully functioning stack running version 0.10.5, hence it make sense there's still pods running as 0.10.5 version. The real question is should this be taken care of by mishards itself?

Put this aside, is there a way to disable mishards in the config file? will this help proceed upgrade? Thanks

[2021-08-28 02:13] MayetG opened #212 "connect to existing etcd pvc in a new helm deployment"
Milvus 2.0rc is unstable and it has been crashing for various reasons which is understandable ... .If i redeploy milvus with a fix - I don’t want to recreate every collection to be recreated all over again - I would just like to connect to existing pvc but idk where in the helm chart I would specify that in my redeployment?

is there a way to connect to existing etcd pvc which was created via the

[2021-08-31 02:20] zwd1208 commented on #212
If you uninstall milvus instance,  etcd pvc is retained by default. when you install the same instance again, the pvc reserved before will be used.

[2021-09-03 07:22] jeffoverflow commented on #212
/assign @zwd1208

[2021-09-07 03:57] #100 closed

[2021-09-07 03:57] #162 closed

[2021-09-07 03:57] #170 closed

[2021-09-07 03:57] #161 closed

[2021-09-07 03:57] #181 closed

[2021-09-14 09:20] lordofdou opened #227 "Configurate storageClass in value.yaml, but not rendered in pvc.yaml"
We install the milvus through the Helm with a local value.yaml file including items as following

[code]

PVs named *milvus-pulsar* and  *milvus-ectd* have been created in manual before. Two PVCs for the pulsar and etcd are created by Helm, but there is no **storageClassName** items in their yaml file. Just like this
[code]

Whether the value.yaml is incorrect, or it is a bug undiscovered.

[2021-09-15 06:39] LoveEachDay commented on #227
Before you can use the storageclass `milvus-pulsar` and `milvus-etcd` in your values.yaml, you must pre-provision the storageclass.
Please check your storageclass in your cluster:
`kubectl get storageclass`

[2021-09-15 09:55] lordofdou commented on #227
Sorry, that is a clerical error. StorageClass *milvus-etcd* and *milvus-pulsar* have been provisioned, the pvc for etcd is bound successfully, but pvc for pulsar is still unable to bind to the storageClass milvus-pulsar

[2021-09-16 11:55] VaibhavDS19 opened #228 "How to get helm-chart of V1.1.0 running"
Hi guys, I am interested in using the milvus kubernetes with farm-haystack and hence, I need to use V1.1.0 of Milvus for that. I have managed to use it with docker-compose but now I want to use Kubernetes instead of docker for my tasks but I don't know how to start the V1.1.0 in Kubernetes. I tried it once but it kept giving an ImageBackoffError so, I am stuck now s I can't figure what I have done

[2021-09-16 14:16] #203 closed

[2021-09-16 15:34] jeffoverflow commented on #228
Execute the following command:
[code]

[2021-10-01 08:57] #201 closed

[2021-10-02 04:46] #211 closed

[2021-10-17 13:57] scipe opened #240 "One place for tolerations and nodeSelector"
Hi folks. Is there any way to place toleration and nodeSelector in only one place? Coz current helm creating a lot of deployments and it's little bit hard to change all tolerations and nodeSelectors. Also there is no pulsar-bastion in helm config so it's by default has no any toleration and nodeSelector that user can change while installing.

[2021-10-18 06:32] LoveEachDay commented on #240
We can add a tolerations and nodeSelector config for all milvus components. I will fix this later.

You can put the bastion config into the `values.yaml`, under the `pulsar` section like this:
[code]

or pass via the `--set pulsar.bastion.nodeSelector.<key>=value` with `helm install`

[2021-10-18 07:48] #240 closed, assigned to nobody

[2021-11-08 02:04] HarborZeng opened #249 "etcd-endpoints url bug"
[code]

Do note this part **etcd-endpoints://0xc000230000/#initially=xxxxxx**.

There is a pointer memory address like string in the url part, I think it a bug related to golang.

And the etcd-0 yaml looks ok to me

[code]

[2021-11-08 02:11] HarborZeng commented on #249
Etcds are ok when I created them.

After I `helm upgrade`, it turned out like this.

[2021-11-09 07:09] LoveEachDay commented on #249
Please provide your commands for install and upgrade milvus cluster.

[2021-11-10 09:56] HarborZeng commented on #249
@LoveEachDay

I installed using

[code]

and modify type to NodePort in rancher

![image](https://user-images.githubusercontent.com/8568937/141091445-fc9748c1-3226-4a0e-8001-7abb7f9d37d1.png)

upgrade using

[code]

[2021-11-17 02:27] HarborZeng commented on #249
Any updates? 大佬 @LoveEachDay

[2021-11-18 02:56] LoveEachDay commented on #249
Follow your procedure, I cannot reproduce the same issue. Etcd members will be restarted in order.

From the etcd error message, I make some dig.
The error raised from [here](https://github.com/etcd-io/etcd/blob/946a5a6f25c3b6b89408ab447852731bde6e6289/client/v3/retry_interceptor.go#L62). `target` is retrieved from `grcp.ClientConn`, which was set in [here](https://github.com/etcd-io/etcd/blob/946

[2021-11-18 04:02] HarborZeng commented on #249
thanks I will keep looking

[2021-11-22 08:20] binbinlv opened #255 "GC interval needs to be configured"
milvus.yaml:

dataCoord:

  gc:
    interval: 3600 # gc interval in seconds
    missingTolerance: 86400 # file meta missing tolerance duration in seconds, 60*24
    dropTolerance: 86400 # file belongs to dropped entity tolerance duration in seconds, 60*24

[2021-11-22 08:21] binbinlv commented on #255
/assign @LoveEachDay

[2021-11-22 08:22] binbinlv commented on #255
Hello, @LoveEachDay could you help to add this support? Thanks.

[2021-11-30 08:38] #249 closed

[2021-12-02 07:02] xiaofan-luan opened #265 "Add default pulsar backlog retention policy"
If consumer hang for some reason, user keep writing request into channel with no response, the pulsar backlog will keep increasing and my cause user running out of disk space.

by reading this document https://pulsar.apache.org/docs/zh-CN/cookbooks-retention-expiry/#backlog-quotas
I would suggest to config the policy to producer_exception and let the produce fail.

Once the consumer keep processin

[2021-12-03 02:25] LoveEachDay commented on #265
The default `backlogQuotaDefaultRetentionPolicy` is `producer_exception` in our milvus-helm chart.

[2021-12-03 06:21] LoveEachDay commented on #265
We add a config to set the `backlogQuotaDefaultLimitGB` to 8GB at version 2.4.9.

[2021-12-03 06:21] #265 closed

[2021-12-03 06:22] LoveEachDay commented on #265
#266

[2021-12-31 09:15] zhuwenxing opened #279 "If release is too long, pod will crash and can't be ready after it been killed"
release name is `test-standalone-pod-kill-2021-12-31-16-42-49`
Pod name is `test-standalone-pod-kill-2021-12-31-16-42-49-milvus-standaq8d4r`

error log
[code]

[2022-01-12 05:54] huazaizai0322 opened #283 "[Enhancement]: Add global annotations and labels in values.yaml of milvus-helm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add global annotations and labels in values.yaml of milvus-helm

### Why is this needed?

When deploy mivlus cluster, need add application and applicationinstance to annotations and lables.

### Anything else?

_No response_

[2022-01-14 09:00] LoveEachDay commented on #283
Now you can set global labels with all milvus components like this:
`--set labels.a=b`
set global annotations with all milvus components like this:
`--set annotations.a=b`

[2022-01-14 09:00] #283 closed

[2022-01-24 22:43] acevenoms opened #289 "Ingress objects need to specify path type on Kubernetes 1.19+"
When deploying these charts to a Kubernetes 1.19+ cluster, the deployment fails with the following error:

`'failed to create resource: Ingress.extensions "milvus" is invalid: spec.rules[0].http.paths[0].pathType: Required value: pathType must be specified'`

The ingress templates for Milvus are missing this field. It's required for both networking.k8s.io/v1 and extensions/v1beta1 class objects

[2022-01-25 06:44] haorenfsa commented on #289
Thx a lot for the feedback, we'll fix this soon

[2022-01-25 06:47] haorenfsa commented on #289
Considering add test for enable ingress and for different Kubernetes versions as well ?  @LoveEachDay @Bennu-Li

[2022-01-25 07:55] #289 closed

[2022-01-25 07:58] LoveEachDay commented on #289
Yes, we'd add a compatibility test for main supported kubernetes versions.

[2022-01-25 15:53] acevenoms commented on #289
You mean just a test in the template for the version? Or a wider test in your CI/CD? Cuz I can just fork and make a pull req for the template if you want

[2022-01-25 15:55] acevenoms commented on #289
Oh I didn't even realized you committed a fix already. Thank you so much!

[2022-01-26 03:12] haorenfsa opened #292 "Optimization: Unify the labels of dependencis"
The labels we used to manage milvus dependencies charts are different.
Let's considering about using a unified label for easier management. @LoveEachDay @Bennu-Li

For example, the milvus release `benchmark-no-clean-cs79g-1`, we got:

labels for etcd as:
[code]

labels for pulsar as:
[code]

labels for minio as:
[code]

[2022-02-06 13:23] #279 closed

[2022-02-15 06:12] leeyf888 opened #297 "k8s etcd error"
{"level":"warn","ts":"2022-02-15T06:10:39.191Z","caller":"netutil/netutil.go:121","msg":"failed to resolve URL Host","url":"http://my-milvus-etcd-0.my-milvus-etcd-headless.default.svc.cluster.local:2380","host":"my-milvus-etcd-0.my-milvus-etcd-headless.default.svc.cluster.local:2380","retry-interval":"1s","error":"lookup my-milvus-etcd-0.my-milvus-etcd-headless.default.svc.cluster.local on 10.149.

[2022-02-15 09:29] JackLCL opened #299 "It's better use specific tag for attu not "latest"."
location:
https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/values.yaml#L335

If we use latest tag for attu and pulled this image before, when the image of attu is updated we can't get the real latest image. It's very inconvenient for users.

[2022-02-16 06:28] #297 closed

[2022-02-18 04:11] wolfju opened #301 "The milvus configuration parameter of cluster stand-alone mode has been added --set_proxy=false , in the case of 10 threads concurrently, each search time is 1/10 of that without this configuration"
1.  For the first time, I used the official command
[helm install milvus-standalone milvus/milvus --set cluster.enabled=false --set etcd.replicaCount=1 --set minio.mode=standalone --set pulsar.enabled=false -n milvus-standalone  --values milvus-standalone-values.yaml]
milvus2.0.0 in standalone mode is deployed collectively;Then insereted 100w official test data of 128_dimension, and successfully e

[2022-02-28 07:57] carawaylj opened #304 "Missing default values explanation for readme"
https://github.com/milvus-io/milvus-helm/tree/master/charts/milvus

[2022-02-28 07:57] carawaylj commented on #304
/assign @carawaylj

[2022-02-28 07:58] carawaylj commented on #301
/assign @carawaylj

[2022-02-28 07:58] carawaylj commented on #301
/unassign

[2022-03-04 10:13] haorenfsa commented on #292
/reopen

[2022-03-08 09:27] Yangstatus opened #308 "Whether custom namespaces are supported ?"
I now want to deploy the Milvus cluster through helm, but find that I cannot customize the namespace by passing parameters at the moment.

[2022-03-08 12:24] haorenfsa commented on #308
It's supported, for example deploy `my-milvus` instance to `my-namespace` with newest version:
`helm install -n my-namespace my-milvus https://github.com/milvus-io/milvus-helm/releases/download/milvus-3.0.9/milvus-3.0.9.tgz --create-namespace`

[2022-03-09 10:44] jingkl opened #310 "[bug] milvus cluster crashes and quits automatically"
bitnami etcd a known issue, did not save member_id to file properly
![20220309-184237](https://user-images.githubusercontent.com/34296482/157426080-7d74cd27-3b3c-4a60-9d4e-981864ed795f.png)

benchmark-57sbh（client-configmap:client-random-locust-100m-ddl-r8-w2,server-configmap:server-cluster-8c64m)

[code]

[2022-03-09 10:54] jingkl opened #311 "[bug] Etcd automatically restarts in a cluster"
This problem is a bit of a problem with the initial configuration.

benchmark-4t7bh-1
server-configmap
server-cluster-8c64m
client-configmap
client-random-locust-100m-ddl-r8-w2

[code]

`{"level":"fatal","ts":"2022-03-09T06:08:45.151Z","caller":"etcdmain/etcd.go:203","msg":"discovery failed","error":"couldn't find local name \"benchmark-4t7bh-1-etcd-0\" in the initial cluster configuration","stack

[2022-03-14 01:32] LoveEachDay commented on #310
This is a know issue for bitnami/etcd chart, which fails to save the member_id into a file occasionally.

/assign

[2022-03-14 01:34] LoveEachDay commented on #308
There are 2 ways to deploy milvus into a specified namespace:
1. create a namespace first, then helm install <release-name> -n <namespace> milvus/milvus
2. with `--create-namespace` param: `helm install <release-name> -n <namespace> --create-namespace milvus/milvus

[2022-03-14 01:34] #308 closed

[2022-03-16 22:58] wallies opened #313 "Milvus doesnt work with Nginx Ingress"
Milvus 2.0.1 works when pointing it straight at the service in GKE but when I try to use an ingress with class nginx it doesnt work. I even tried with the following annotations:
[code]

[2022-03-17 02:40] haorenfsa commented on #313
hi, In my exp, maybe you should specify your ingress listen port like `nginx.org/listen-ports` or `nginx.org/listen-ports-ssl` with your intentional port, by default they're 80, 443 which is not the milvus usually port 19530
more info see:
https://docs.nginx.com/nginx-ingress-controller/configuration/ingress-resources/advanced-configuration-with-annotations/

[2022-03-17 10:43] dxsooo opened #314 "Not all deployment support 'image.all.pullSecrets' config"
Following https://artifacthub.io/packages/helm/milvus/milvus#milvus-service-configuration
I set 'image.all.pullSecrets’ to make images pulled from my private harbor ( I pulled the relative images and pushed to it)

however just the miluvs:2.0.1 related section has the field 'spec.imagePullSecret'. It seems that not all deployment support 'image.all.pullSecrets' config.

How to set imagePullSecret

[2022-03-17 13:34] haorenfsa commented on #314
If I get it correct what you mean by `other deployments/jobs/statefulset` refers to the dependencies of milvus, which are the `MinIO`, `Pulsar` & `etcd`. You can config their image by change their image configurations, which we mentioned at: The tail of the arrtifacthub document https://artifacthub.io/packages/helm/milvus/milvus#pulsar-configuration

In your particular case, values set should be:

[2022-03-18 02:12] dxsooo commented on #314
OK，I will wait，thanks @haorenfsa

[2022-03-21 21:42] alexsstock opened #316 "attu service annotations"
The chart allows annotation of the main service.  We use this for : aws-load-balancer-internal

We would also like to deploy the attu service on an internal load balancer, using the same annotation.

[2022-03-22 06:40] haorenfsa commented on #316
Good point. We need to add fields in `values.yaml` & add annoations to attu's service template.
Would you like to create a PR yourself for this @alexsstock, if you've got time ?

[2022-03-23 02:26] haorenfsa commented on #314
@dxsooo It's merged, you can config pulsar by field `pulsar.pulsar.imagePullSecrets`

[2022-03-23 14:49] alexsstock commented on #316
Hi @haorenfsa , sure.

In my testing with attu on an internal ELB, it seems to have an issue connecting to the Milvus pods.

I have tried variations of

- $service
- $service.$namespace
- $service.$namespace.svc.cluster.local

Once I'm able to determine what's happening with networking I can submit a PR, thank you.

[2022-03-23 19:44] alexsstock commented on #316
Apologies, this actually works great with ingress for us, and the ingress annotations are already implemented.

If you think the service annotations useful for other people for attu, I can still submit a PR.  I think they might not be needed though.

[2022-03-23 20:58] #316 closed

[2022-03-28 21:28] alexsstock opened #320 "can we enable externalKafka yet?"
I tried this today by disabling pulsar and enabling our externalKafka along with our brokers.

The RootCoordinator was still not able to start due to errors about the service url being an empty pulsar url.

is this feature ready for us to try?  thanks!

[2022-03-29 02:28] haorenfsa commented on #320
Nop, it's still under integration testing. Should be good to use when next 1 or 2 formal releases. `v2.0.2` or `v2.1.0`

[2022-04-01 15:07] ethem-kinginthenorth opened #323 "[ QUESTION ] milvus 1.1.1 on helm chart?"
Can I install Milvus version 1.1.1 via helm? Particularly I am interested in this version: milvus:1.1.1-gpu-d061621-330cc6. Thanks

[2022-04-02 03:00] haorenfsa commented on #323
check the 1.1 branch of this repo:  https://github.com/milvus-io/milvus-helm/tree/1.1

[2022-04-05 19:00] ethem-kinginthenorth commented on #323
Great. Thanks

[2022-04-05 19:00] #323 closed

[2022-04-06 01:53] haorenfsa commented on #292
/assign

[2022-04-11 10:05] saisona commented on #310
I get the same issue here in standalone mode

[2022-04-12 02:52] jingkl commented on #311
keep it open

[2022-04-13 06:51] WangErXiao opened #328 "独立部署etcd helm 6.3.3失败"
yaml配置
replicaCount: 3
image:
  tag: "3.5.0-debian-10-r24"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 2379
  peerPort: 2380

auth:
  rbac:
    enabled: false

persistence:
  enabled: true
  storageClass: local-path
  size: 10Gi
  accessMode: ReadWriteOnce

autoCompactionMode: revision
autoCompactionRetention: "1000"

extraEnvVars:
- name: ETCD_QUOTA_BACKEND_BYTES
  value: "4294

[2022-04-13 09:54] #328 closed

[2022-04-13 09:59] WangErXiao commented on #328
k8s dns解析问题造成的

[2022-04-14 13:52] abhishek-ch opened #329 "Milvus Helm is not showing any option of reusing serviceAccount in values.yaml"
Trying to use `values.yaml` for enabling/disabling features, there is no way to create/modify serviceAccount and RoleBindings.
Is there any suggestion to do that?

[2022-04-15 07:02] haorenfsa commented on #329
Hi, milvus itself does not need extra ServiceAccount or Rolebindings, but milvus-helm uses `pulsar`, `minio`,`etcd` charts as  its default dependencies. So you can configure them with values decribed in those charts:
- configure etcd values under `etcd.xxx` (values can be found [here](https://github.com/minio/charts/blob/main/README.md))
- configure pulsar values under `pulsar.xxx` (values can be

[2022-04-15 13:14] WangErXiao opened #330 "Deploy multiple milvus 2.0 clusters use same etcd, minio, pulsar cluster with path isolation"
I want to deploy multiple milvus 2.0 clusters using the same etcd, minio, pulsar clusters by path isolation.

The first cluster is OK.

After modifying the rootpath, I deploy the second cluster and report an error.

initRootPath error

[2022-04-16 14:25] WangErXiao commented on #330
It's my mistake, it's caused by using the wrong version of milvus chart

[2022-04-16 14:25] #330 closed

[2022-04-19 13:04] #329 closed

[2022-04-19 19:06] #311 closed

[2022-04-23 08:17] #313 closed

[2022-05-03 02:41] danielfree opened #334 "external kafka not configured"
Setting `externalKafka.enabled=true` doesn't take effect in rootcoord, the rootcoord's log still says

level=warning msg="[Failed to connect to broker.]" error="dial tcp 127.0.0.1:6650: connect: connection refused" remote_addr="pulsar://localhost:6650"

docker image: milvusdb/milvus:v2.0.2

[2022-05-03 16:17] dxsooo commented on #314
@haorenfsa it seems that not all component of pulsar respects `pulsar.pulsar.imagePullSecrets`

https://github.com/apache/pulsar-helm-chart/search?q=imagePullSecrets

And I found a PR releated https://github.com/apache/pulsar-helm-chart/pull/244

Thus I have to wait again

[2022-05-05 01:53] LoveEachDay commented on #334
If you'd use external kafka, you'd set `--set pulsar.enabled=false --set externalKafka.enabled=true` .

And milvus 2.0.2 image does not support kafka yet. If you want to have a taste before the official v2.1.0 image released, you can use image `milvusdb/milvus-dev:master-20220505-2be46a01` .

[2022-05-05 01:53] #334 closed

[2022-05-05 03:04] haorenfsa commented on #314
/reopen

[2022-05-05 03:05] haorenfsa commented on #314
milvus-helm need to update after this patch is adopted

[2022-05-06 02:19] haorenfsa commented on #292
/reopen

[2022-05-19 02:26] haorenfsa commented on #310
/assign

[2022-05-22 16:06] haorenfsa commented on #310
bitnami/bitnami-docker-etcd#42

[2022-06-08 14:14] AndreiPaulau opened #336 "Autscaling. milvus-3.0.23 release"
Hello!

First of all gents, thanks for such amazing product!

Earlier we've seen here https://milvus.io/docs/scaleout.md  `queryNode.autoscaling.enabled` option.
For now it's absent in values.yml, I wonder if there are any plans to move it back, since it's kind of vital options.
Forking and extending such a big chart with HPA - that's not these droids I'm looking for =)

I would be thankful for an

[2022-06-12 01:23] haorenfsa commented on #314
/reopen
/assign

[2022-06-12 15:53] haorenfsa commented on #292
/reopen

[2022-06-17 20:38] mohitreddy1996 opened #339 "metrics attribute should per-component configurable"
Currently this is a switch using which can we enable or disable metrics altogether. Would be nice to have this per component of milvus, so that user can enable exposing metrics only for the components they are interested in

Happy to contribute to this.

[2022-06-22 02:13] haorenfsa commented on #310
/reopen

[2022-06-24 05:24] dhanangw commented on #310
The etcd issue has been fixed in this PR:
https://github.com/bitnami/bitnami-docker-etcd/pull/44

May I upgrade the etcd version in [values.yaml](https://github.com/milvus-io/milvus-helm/blob/106d58a725a97c10c4ff35186c8283fdd998aadb/charts/milvus/values.yaml#L413) to the newest version?

[2022-06-24 06:13] haorenfsa commented on #310
Hi, the fix is actually in bitnami/bitnami-docker-etcd#42, but the official version still has some issue if you upgrade from a quite old version, like what milvus v2.0.2 is using. We're testing our patches about this upgrade and we'll soon have an stable version for upgrade.

[2022-06-24 06:21] haorenfsa commented on #310
And by the way the patch bitnami/bitnami-docker-etcd#44 is not merged yet, so `Cluster ID mismatch` issue will still exists in current official image. We're going to the etcd image in our own repo to speed up the patch merging procedure. see https://github.com/milvus-io/bitnami-docker-etcd.

If you really want to upgrade etcd now, you can try using the image `milvusdb/etcd:3.5.0-r4`. But it's stil

[2022-06-24 06:29] haorenfsa commented on #310
bitnami/bitnami-docker-etcd#46

[2022-06-27 11:23] haorenfsa commented on #314
#244 is merged, we need to update our pulsar chart version to support it

[2022-06-28 18:13] mohitreddy1996 opened #340 "Allow configuring SASL Plain authentication for external Kafka"
- We currently use managed kafka through confluent, which requires us to authenticate using SASL. It would be great if adding username and password are allowed through helm charts. It seems like the backend code already handles this - https://github.com/milvus-io/milvus/blob/4ae1ca2cacc15e03afd8853ab4dedf10ba61a2d6/internal/util/paramtable/base_table.go#L186

[2022-06-30 09:30] #340 closed, assigned to nobody

[2022-07-08 14:58] AndreiPaulau commented on #336
Ok, here is an activity 👍🏻

[2022-07-12 09:46] hfningjian opened #345 "helm install failed on k8s rootcoord pods"
【环境】
milvus版本：milvusdb/milvus：2.0.2
milvus-helm版本：milvus-3.0.28

【部署状态】
[root@iZuf6dg4ylq9iq8h4x6jhzZ milvus]# kubectl get pod -n milvus
NAME                                    READY   STATUS             RESTARTS   AGE
my-milvus-datacoord-699d77b87b-mb7qz    0/1     Running            2          10m
my-milvus-datanode-5886bb56b7-x6tr4     0/1     Running            2          10m
my-milvus-etcd-0

[2022-07-12 13:45] haorenfsa commented on #345
Hi, according to the logs, it seems that the `zookeeper` of `pulsar` failed to be installed. Could you plz provide the `helm values` that you used for installation?

[2022-07-13 02:10] LoveEachDay commented on #345
@hfningjian Could you please also provide the log of milvus and it's dependencies (etcd, minio, pulsar) using this script: `https://github.com/milvus-io/milvus/blob/master/deployments/export-log/export-milvus-log.sh`?

From the above pod status, the etcd pods are not ready for 10 minutes which is not normal. And the `my-milvus-minio-0` pod is restarting for 6 times which is also weird.

[2022-07-13 03:58] hfningjian commented on #345
@haorenfsa  here is the content of value.yaml
## Enable or disable Milvus Cluster mode
cluster:
  enabled: true

image:
  all:
    repository: milvusdb/milvus
    tag: v2.0.2
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-pr

[2022-07-13 04:04] hfningjian commented on #345
datacoord log:
[2022/07/13 03:56:52.358 +00:00] [WARN] [compaction_trigger.go:142] ["unbale to get compaction timetravel"] [error="err: find no available rootcoord, check rootcoord state\n, /go/src/github.com/milvus-io/milvus/internal/util/trace/stack_trace.go:51 github.com/milvus-io/milvus/internal/util/trace.StackTrace\n/go/src/github.com/milvus-io/milvus/internal/util/grpcclient/client.go:253 g

[2022-07-14 02:10] LoveEachDay commented on #345
@hfningjian What kind of storageclass do you use?
From the `minio-0` log, seems several minio pods are use the same root disks. Do those minio pods are scheduled into the same kubernetes worker nodes?

And could you also provide the pod status again? From the above log, the `etcd` and `pulsar` are all running.

[2022-07-14 21:42] deshetti commented on #310
Looks like the PR https://github.com/milvus-io/milvus-helm/pull/343 didn't fix the issue.

I have upgraded to the latest chart and the issue still persists. Our Production system is down with this issue. Any help is appreciated. Thanks.

[2022-07-15 03:17] hfningjian commented on #345
1、
   I did not use storageclass. I set persistence from ture to false in values.yaml.
2、
   the minio pod are not cheduled into the same kubernetes worker nodes
3、
   I have change tag of the milvus-helm，now the zookeeper and root coord has been started。the pod status is as belows:

[root@iZuf6dg4ylq9iq8h4x6jhzZ milvus]# kubectl get pod -n vts |grep milvus
my-milvus-datacoord-78697b6fcd-w6nvh

[2022-07-16 04:01] haorenfsa commented on #310
Could you plz provide how your etcd pod states & logs, as well as how you did the upgrade?
It's quite well tested by our QA team. I also tested it dozens of times.

[2022-07-16 04:07] haorenfsa commented on #310
The key is  pay attention to your etcd image, is it `bitnami/etcd:3.5.0-debian-10-r24` or `milvusdb/etcd:3.5.0-r6`.
The latter one is what this patch provided. If your etcd is not using it, maybe you didn't upgrade it correctly

[2022-07-16 04:10] LoveEachDay commented on #345
@hfningjian From above log, minio is the reason why the milvus cluster fails to start.
[code]
minio now has a check whether the data directory is part of the root disk, you should use another partition for minio data directory which by default is `/export` .

You need enable persistence for minio.

[2022-07-18 02:12] haorenfsa commented on #339
@LoveEachDay what do you think?

[2022-07-18 02:24] LoveEachDay commented on #339
@mohitreddy1996 Good idea. Would you still like to contribute this feature?

[2022-07-18 02:35] mohitreddy1996 commented on #339
Surely :) I can create a PR in a day or two.

[2022-07-18 08:27] hfningjian commented on #345
@LoveEachDay ，thanks for supporting.
I've enable persistence for minio,  here is the pod status:
[root@iZuf6dg4ylq9iq8h4x6jhzZ cluster-milvus]# kubectl get pod -n proxima  |grep milvus
my-milvus-datacoord-78697b6fcd-4rsbn       0/1     CrashLoopBackOff   7          33m
my-milvus-datanode-5b99bcc77-kt29w         0/1     Running            8          33m
my-milvus-etcd-0                           0/

[2022-07-18 08:50] hfningjian commented on #345
API: SYSTEM()
Time: 08:49:33 UTC 07/18/2022
Error: unable to rename (/export/.minio.sys/tmp -> /export/.minio.sys/tmp-old/dcb4012b-b1d9-462a-8727-0ff657384d13) file access denied, drive may be faulty please investigate (*fmt.wrapError)
       1: cmd/prepare-storage.go:89:cmd.formatErasureCleanupTmp()
minio pod has error like this:
API: SYSTEM()
Time: 08:49:33 UTC 07/18/2022
Error: unable to create

[2022-07-19 02:32] LoveEachDay commented on #345
[code]
Datacoord fails to start because of minio doesn't behave normally.

And log from `minio`:
[code]
Could you verify your storageclass, and the pod have the correct permissions to make any changes. You can try login to minio pod, change directory to `/export` and verify file permissions.

[2022-07-19 22:51] #292 closed

[2022-07-20 07:26] hfningjian commented on #345
Thanks  to @LoveEachDay， I fix the permission problem and the milvus has been successfully started. thanks again.

[2022-07-21 06:59] #345 closed

[2022-07-24 18:55] deshetti commented on #310
@haorenfsa sorry for the delayed response. I made sure that the correct etc image was used as you mentioned. I have gone through a few other etcd issues linked where this was discussed as well, so I understood what the issue was at a high level. I am not able to send you the logs at the moment as we upgraded to the latest version of the Milvus helm chart and etcd helm version.

This was a producti

[2022-07-26 12:21] haorenfsa commented on #310
According to your description, it seems to me that the etcd still run fine after upgrade while Milvus had some index problems?  So you just reindexed and didn't do anything else to recover it right?

[2022-07-26 21:02] deshetti commented on #310
Nope, etcd cluster was failing to restart with the following errors and for that reason, rest of the Milvus was unable to start:

[code]

<img width="558" alt="Screen Shot 2022-07-26 at 4 00 16 PM" src="https://user-images.githubusercontent.com/10763210/181111275-a8cc98d3-0f2b-4e32-8958-f6c83d291170.png">

I had to reinstall Milvus with the new helm chart and latest version of etcd and reindex for

[2022-07-27 03:22] haorenfsa commented on #310
Could you provide the commands you executed in these upgrades?  I got a little  confused.

First you `have upgraded to the latest chart and the issue still persists.` And  `Production system is down with this issue.`

And how you fix this is through `reinstall Milvus with the new helm chart and latest version of etcd and reindex`

So by `reinstall` do you mean `helm uninstall` & `helm install` aga

[2022-07-28 20:37] deshetti commented on #310
Yes.

I used the latest etcd helm chart from bitnami

[2022-08-04 01:25] haorenfsa commented on #314
/reopen

[2022-08-04 12:06] Zzt1993 opened #354 "my-release-pulsar-bookie0-2转移节点后导致整个集群不可用"
我把
my-release-pulsar-bookie0
my-release-pulsar-bookie1
my-release-pulsar-bookie2
这个组件从一个k8s节点，转移到了另外一个节点上，导致整个milvus不能读写了

[2022-08-05 01:33] Zzt1993 commented on #354
storageclass后端使用的是nfs，这似乎不是因为 storageclass的原因

[2022-08-05 01:58] AI-Mart commented on #354
不单单是数据读不出来，数据也写不进去了，不能创建索引和建表

[2022-08-05 02:29] LoveEachDay commented on #354
@AI-Mart Could you provide logs for milvus components? Or Could you provide the error information?

[2022-08-05 02:48] AI-Mart commented on #354
具体在哪个节点看呢？

[2022-08-05 02:48] AI-Mart commented on #354
哪个节点的哪个路径可以看到你需要的日志？

[2022-08-05 03:40] LoveEachDay commented on #354
Use this tool: https://github.com/milvus-io/milvus/tree/master/deployments/export-log to export milvus and pulsar logs.

[2022-08-08 07:36] LoveEachDay commented on #336
@AndreiPaulau querynode an indexnode will use all the resources allocate to them. HPA doesn't make sense for our milvus querynode and indexnode. You'd better pre-caculate the memory and cpu requirement based on your vector data volume and index type.

In future, we may implement a scaler based on tasks.

[2022-08-08 07:41] AndreiPaulau commented on #336
Got it, thought it would work for parallel request processing.
Can be closed then

[2022-08-09 06:16] datenhahn opened #355 "CACHE_SIZE is set weirdly high for all deployments"
Hi,

the cache_size is set in the charts to:

https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/templates/querycoord-deployment.yaml#L64
[code]

In the default Config it says:

https://github.com/milvus-io/milvus/blob/master/configs/milvus.yaml#L164

"The `cacheSize` must be less than system memory size."

As the helm-chart sets the memory to the absolutely maximum of memory a pod

[2022-08-09 07:06] LoveEachDay commented on #355
@datenhahn It's recommended to set the pod memory limits explicitly.
If you doesn't set the memory explicitly, it will default to the memory of the kubernetes worker pod which pod resides in.

[2022-08-09 07:20] datenhahn commented on #355
I don't know about the default behavior if the limit is not set, I am only using pod with explicitly set limits.

If I set the memory limit with `resources.limits` on a pod to lets say 8GB, then the container has exactly 8GB memory as absolute maximum available. In the helmchart the cache_size is set to "8", which means, the cache will grab all available 8GB and not leave anything for operation sy

[2022-08-10 03:33] LoveEachDay commented on #355
@datenhahn Explicitly set pod memory limits is a good choice.
And The CACHE_SIZE config has been removed in milvus-io/milvus#18566. milvus-helm chart will remove the `CACHE_SIZE` env in later release.

[2022-08-18 07:49] mohitreddy1996 commented on #339
/reopen

[2022-08-19 03:58] haorenfsa commented on #339
mark: same thing should be done for milvus-operator

[2022-08-22 07:02] Zzt1993 commented on #354
上次重装了一次集群，这次又遇到了，日志太大了，如何发送到您那边呢

[2022-08-22 10:53] Zzt1993 opened #358 "集群中有的组件比如my-releasepulsar-bookie0-2转移节点后，导致整个集群不可使用"

[2022-08-22 10:54] Zzt1993 commented on #358
不单单是数据读不出来，数据也写不进去了，不能创建索引和建表
整个集群的日志我已经导出来并发送至群里了

[2022-08-22 10:55] Zzt1993 commented on #358
![image](https://user-images.githubusercontent.com/95836616/185904938-7789e5c6-b38c-4526-b940-65616e0430b8.png)

[2022-08-23 05:59] JackLCL commented on #358
@Zzt1993 Please use English to describe your problem. This allows more users who do not speak Chinese to understand your question.

By the way, can you upload your log file here?

[2022-08-23 06:41] Zzt1993 commented on #358
The log file is too large to upload here

[2022-08-23 06:45] Zzt1993 commented on #358
Some components in the cluster, such as my-releasepulsar-bookie0-2, are unusable after the nodes are transferred

[2022-08-23 06:45] Zzt1993 commented on #358
Not only the data cannot be read out, but also the data cannot be written in. It is impossible to create indexes and tables

I have exported the logs of the whole cluster and sent them to the cluster

[2022-08-23 06:53] JackLCL commented on #358
You can upload the log to a netdisk such as BaiduYun.

[2022-08-23 07:01] Zzt1993 commented on #358
I uploaded it to Alibaba cloud disk
Link: https://pan.baidu.com/s/1UW8iwSK0b-y1dmsmdx-mpg
Extraction code: zfyq

[2022-08-30 02:05] LoveEachDay commented on #355
@datenhahn `CACHE_SIZE` env has been removed at  #356.

[2022-08-30 02:05] #355 closed

[2022-09-14 17:06] #336 closed

[2022-09-15 05:57] haorenfsa commented on #314
/reopen

[2022-09-28 12:20] #354 closed

[2022-10-22 12:59] #314 closed

[2022-10-31 12:11] rajeevpadinharepattu opened #382 "milvus on ipv6 only"
Milvus version : 2.4.21
Kuberentes version : 1.22.12

I am trying to setup milvus-db on an ipv6 only cluster. but the milvus standalone pod is not getting up, and giving the below error.

NAME                                     READY   STATUS             RESTARTS          AGE
pod/milvus-etcd-0                        1/1     Running            0                 3d4h
pod/milvus-minio-7c65b8cd8c-js8

[2022-11-01 05:18] haorenfsa commented on #382
@rajeevpadinharepattu Hi, thanks for the feedback. We haven't carry out any test on ipv6 environments. And it's likely that developers didn't pay extra attention to it. So I'm not pretty sure it supports or not.
Here's a couple of things we need to check, we're to claim that we supports ipv6 environment:

- [ ] 1. Whether the dependencies of milvus supports listening on ipv6 address:
  - [ ] etcd

[2022-11-01 05:20] haorenfsa commented on #382
/assign

[2022-11-01 05:22] haorenfsa commented on #382
According to the information you provided, it seems that the MinIO starts properly, while the etcd does not.

[2022-11-09 04:13] haorenfsa opened #385 "Enable http server in proxy by default"
http server is enabled by default in milvus.
Maybe we should also enable it in milvus-helm.

[2022-11-09 09:14] zhagnlu opened #386 "Add parameter threadCoreCoefficient"
add a new  config parameter threadCoreCoefficient

[2022-11-16 09:16] akmalmasud96 opened #389 "cluster pods remain in pending state for pulsar and etcd"
**Environment**

- Milvus version: 2.1.4
- helm chart : 3.2.17
- cloud : aws eksctl with fargate

I was deploying on the aws fargate. The pods remain in a pending state for pulsar, and the following error message is in the etcd logs.
`Pod not supported on Fargate: volumes not supported: data not supported because: PVC data-milvus-etcd-0 not bound`

Steps To Reproduce:

I was following this documen

[2022-11-16 10:30] LoveEachDay commented on #389
@akmalmasud96 We don't support to deploy milvus on aws fargate.
You need a aws eks cluster instead.

[2022-11-16 10:47] akmalmasud96 commented on #389
@LoveEachDay
I am following the milvus documentation, in that documentation, fargate is used.

`eksctl create cluster --name my-cluster --region region-code --fargate`

documentation link is shared above.

[2022-11-16 11:04] LoveEachDay commented on #389
@akmalmasud96 You can use the following command to create a normal eks cluster:
[code]
We'll refine this documentation later.

[2022-11-16 15:20] akmalmasud96 commented on #389
Currently, I am facing the issue as follows,

`running PreBind plugin "VolumeBinding": binding volumes: timed out waiting for the condition`

[2022-11-18 12:58] akmalmasud96 commented on #389
@LoveEachDay any suggestion to resolve this problem?

[2022-11-18 17:25] akmalmasud96 commented on #389
Hi @haorenfsa,
yes, I have changed the instance type to **m5.8xlarge**,

`eksctl create cluster --name cluster-name --region us-east-2 --node-type m5.8xlarge`

[code]

[code]

[2022-11-19 17:53] haorenfsa commented on #389
@akmalmasud96 according to the msg, you have to install the EBS controller in order to provide the Persistent Volume for etcd & pulsar.

take this for Ref  https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

@LoveEachDay This should be added to  the doc.

[2022-11-21 03:01] john-h-luo commented on #389
Hello, @akmalmasud96 , https://milvus.io/docs/v2.2.x/eks.md has updates, I've tested it myself and I believe it will help you setup a Milvus cluster. If you encounter any issue please leave a comment to let me know.

[2022-11-21 12:31] akmalmasud96 commented on #389
Thanks @john-h-luo, It is working fine.

However, when I delete the cluster and clear the resources, I am getting the following logs,
[code]
But I am able to delete it manually from AWS console.

[2022-11-23 01:25] LoveEachDay commented on #389
@akmalmasud96 This is because you have installed `ebs-csi-node` daemonset, which will schedule a pod in each worker node. When run deleting eks cluster, it will run `kubectl drain` for each worknode, which by defaults won't ignore the daemonset pod.

You need delete this daemonset before you deletes the eks cluster.

[2022-11-24 09:01] ruixiu opened #393 "用的kubesphere部署milvus，出错"
创建失败，提示：
Error: error while running post render on files: error while running command /tmp/helm-operator/truk-reid_milvus-220_z3n3x751lj931o/helm-post-render.sh. error output: Error: map[string]interface {}(nil): yaml: unmarshal errors: line 49: mapping key "httpNumThreads" already defined at line 37 : exit status 1

[2022-11-24 09:18] haorenfsa commented on #393
which version of `milvus-helm` & `milvus` were you installing?

[2022-11-24 09:31] ruixiu commented on #393
刚刚搞定了：开启cluster模式，竟然需要把standalone.messageQueue设置为pulsar

[2022-11-24 09:37] ruixiu commented on #393
milvus-helm：3.3.1
milvus：2.2.0
只要开启pulsar就不行

[2022-11-25 07:05] haorenfsa commented on #393
@Bennu-Li  take a look?

[2022-11-25 10:32] LoveEachDay commented on #385
Fix in #392

[2022-11-25 10:32] #385 closed

[2022-11-25 11:17] Bennu-Li commented on #393
Try to delete the `httpNumThreads` param in values.yaml while installing milvus on the kubesphere.
If it still does not work, try to download the milvus-helm repo, and delete the `httpNumThreads` param in [values.yaml](https://github.com/milvus-io/milvus-helm/blob/master/charts/milvus/values.yaml). Then upload your local repo (milvus-helm/charts/milvus) that you changed to kubesphere to install mi

[2022-11-26 00:47] ruixiu commented on #393
删除了也是一样的错误

[2022-11-29 05:51] haorenfsa commented on #389
@akmalmasud96 this time when you delete the cluster, did you get the same logs?

if so, could you list all the pods in your cluster with its tolerations so that we can better understand what's happening in your cluster.

by following command:
`kubectl get pods -A -o=jsonpath="{.items[*]['metadata.name', 'spec.tolerations']}"`